
h1 {
  text-align: center;
  font-size: 35px;
}


.RuM {
  align-items: center;
  text-align: center;
  width: 1200px;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  max-width: 1200px;
}

.character-card {
  box-sizing: border-box;
  border: 2px solid black;
  box-shadow: 5px 10px 10px black;
  padding: 10px;
  width: calc(20% - 4 * 20px / 5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-card:hover {
  box-sizing: border-box;
  border: 2px solid #53ff96;
  border-radius: 5%;
  box-shadow: 0 0 100px rgb(101, 213, 218);
  padding: 10px;
  width: calc(20% - 4 * 20px / 5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-more-information {
  background-color: rgba(125, 215, 255, 0.49);
  border-radius: 25px;
}

.btn-more-information:hover {
  color: black;
  background-color: rgb(83, 255, 150);
  border-radius: 25px;
  box-shadow: 0 0 20px rgb(101, 213, 218);
}

.profil-details {
  background-color: #3c504f;
  border-radius: 20px;
  width: 70px;
  text-align: center;
  color: whitesmoke;
}

.profil-details:hover {
  background-color: #3c504f;
  border-radius: 20px;
  width: 70px;
  text-align: center;
  color: whitesmoke;
  box-shadow: 0 0 20px rgb(101, 213, 218);
}


